<div class="outer">
  <div class="well search-result">
    <div class="input-group">
      <input
        type="text"
        class="form-control bar"
        placeholder="Search"
        [(ngModel)]="srch"
        (ngModelChange)="search()"
      />
      <span class="input-group-btn">
        <div class="selector">
          <select
            class="form-control"
            [(ngModel)]="searchby"
            id="exampleFormControlSelect1"
          >
            <option ngValue="title" selected>Title</option>
            <option>Tags</option>
          </select>
        </div>
      </span>
    </div>
  </div>

  <div class="posts" *ngIf="feed.length != 0; else elseBlock">
    <div class="big" *ngFor="let item of feed">
      <article
        class="event"
        [style]="{
          'border-right': '5px solid' + userActivity.mp.get(item.tagList[0])
        }"
      >
        <div class="pic-box">
          <img [src]="item.activityPic" width="1500" height="1368" alt="" />
        </div>
        <div class="event-content">
          <span
            class="badge badge-pill event-desc"
            *ngFor="let tags of item.tagList"
            [style]="{ border: '2px solid' + userActivity.mp.get(tags) }"
          >
            {{ tags }}</span
          >

          <a [routerLink]="['/mainscreen/activity', item.activityid]"
            ><p class="event-title">{{ item.title }}</p></a
          >
          <div class="details d-flex justify-content-between">
            <span class="date">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="11"
                height="11"
                fill="currentColor"
                class="bi bi-calendar"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
                />
              </svg>
              {{ userActivity.get_date(item.date) }}
            </span>
            <span class="time">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="11"
                height="11"
                fill="currentColor"
                class="bi bi-clock"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
                />
                <path
                  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
                />
              </svg>
              {{
                userActivity.tConvert(item.date.split("T")[1].substring(0, 5))
              }}
            </span>
          </div>

          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <img
                class="img-xs rounded-circle"
                [src]="item.creatorPic"
                alt=""
              />
              <a
                (click)="setClickedProfile(item.creatorid, item.creatorPic)"
                routerLink="/mainscreen/profile"
                ><p class="Creatorname">{{ item.creatorName }}</p></a
              >
            </div>

            <button
              *ngIf="
                present_in_list(item) === -1 && curentuser.id != item.creatorid
              "
              type="button"
              class="btn btn-outline-info event-save"
              (click)="Join_event(item)"
            >
              Join
            </button>
            <button
              *ngIf="
                present_in_list(item) != -1 && curentuser.id != item.creatorid
              "
              type="button"
              class="btn btn-info event-save"
              disabled
            >
              Joined
            </button>
          </div>
        </div>
      </article>
    </div>
  </div>

  <ng-template #elseBlock style="margin: auto">
    <div class="center" *ngIf="!issearch && !x; else elseBlock1">
      <div class="loader">Loading...</div>
    </div>
  </ng-template>
</div>
<ng-template #elseBlock1 style="margin: auto">
  <div class="card rounded">
    <div class="card-header">
      <i>There are currently no Activities</i>
    </div>
  </div>
</ng-template>
