.col-md-5,
.col-md-7 {
  padding: 6%;
  padding-right: 0;
}

.row {
  display: flex;
  background: white;
  height: 100%;
}

@media (max-width: 771px) {
  .modal-container {
    width: 90%;
  }
  .col-md-7 {
    display: none;
  }
}
