.badge{
  margin-right: .25em;
}
.btn{
  background-color: #009999;
}
.card {
  box-shadow: 0 0 5px 0 rgba(46, 47, 49, 0.2);

}
.rounded {
  border-radius: .5rem !important;
  margin-bottom: .7em;
}
.badge {
  margin: .2rem .15rem;
  background:transparent;
  padding: .3rem .4rem;
  border-style: 1.5px solid;
}
